# ========= Frontend =========
node_modules/
dist/
build/

# ========= Backend (Python) =========
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/

# ========= Virtual env =========
venv/
ENV/

# ========= Environment & OS =========
.env
.DS_Store

# ========= Logs =========
*.log
